<!DOCTYPE HTML>
<!--
CIS 422
Project 1: Simple Calendar

Filename: dbase.html

Description: The database view page of the Electron GUI.

Created by: Sam Svindland, Andrew Cvitanovich, Justin Robles and Ethan Quick

Modified on dates: 4/15/2018 <-> 4/29/2018                        |
-->

<html>
  <head>
    <meta charset="utf-8"/>
    <meta lang="en"/>

    <title>Database View</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">  </head>
  </head>

  <body>

    <div class="topbar">
      <button onclick="home()">Home</button>
    <div>

    <div class="eventTable">

      <!-- EVENT TABLE -->
      <!-- List Events in Table Form -->
      {% for event in li %}
        <table class="eventTable">
          <!-- LABELS -->
          <tr>
            <th colspan="5">Event #{{ loop.index }}</th>
          </tr>
          <tr>
            <th></th>
            <th>User</th>
            <th>Start</th>
            <th>End</th>
            <th>Title</th>
          </tr>
          <!-- EVENT DATA -->
          <tr>
            <td>
              <form action="/deleteEvent2" method="post">
                <button type='submit' name='delete' value="{{ event[0] }} {{ event[1] }} {{ event[2] }} {{ event[3] }}:NOTES:{{ event[4] }}">Delete</button>
              </form>

            </td>
            <td>{{ event[0] }}</td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
            <td>{{ event[3] }}</td>
          </tr>
          <!-- NOTES DISPLAYED IN A NEW ROW -->
          <tr>
            <th colspan="5">Notes</th>
          </tr>
          <tr>
            <td colspan="5">{{ event[4] }}</td>
          </tr>
        </table>
      {% endfor %}

    </div>

  </body>

  <script>
    // GUI GO HOME
    function home(){
      window.location.href = "./"
    }
  </script>
</html>
